.show_content {
	
    .left_side {
    	float: left;
		padding: 7.5px;
		width: 66.66666667%;
		//background: yellow;
	    .left_top {
	    	width: 50%;
	    	float: left;
	    	//background: blue;
	    	border: 1px solid rgba( 0, 0, 0, 0.5);
	    	border-right: 0;
	    	.card_header {
			    position: relative;
			    height: 42px;
			    line-height: 42px;
			    padding: 0 15px;
			    border-bottom: 1px solid #f6f6f6;
			    color: #333;
			    border-radius: 2px 2px 0 0;
			    font-size: 20px;
			}
			.card_body {
			    position: relative;
			    padding: 10px 15px;
			    line-height: 24px;
			    .body_list {
			        width: 100%;
			        height: 185px;
			        background-color: #fff;
			        ul{
					    display: block;
					    list-style-type: none;
					    -webkit-margin-before: 1em;
					    -webkit-margin-after: 1em;
					    -webkit-margin-start: 0px;
					    -webkit-margin-end: 0px;

					    .layui-col-xs3 {
						    width: 25%;
						    float: left;
						    padding: 5px;
						    .small_icon {
						    	display: inline-block;
							    width: 100%;
							    height: 60px;
							    line-height: 60px;
							    text-align: center;
							    border-radius: 2px;
							    font-size: 30px;
							    background-color: #F8F8F8;
							    color: #333;
							    transition: all .3s;
							    -webkit-transition: all .3s;

						    }
						    cite {
							    position: relative;
							    top: 2px;
							    display: block;
							    color: #666;
							    text-overflow: ellipsis;
							    overflow: hidden;
							    white-space: nowrap;
							    font-style: normal;
							    text-align: center;
							}
						}
					}
					
			    }
			}
	    }
	    .right_top {
	    	width: 50%;
	    	float: left;
	    	//background: blue;
	    	border: 1px solid rgba( 0, 0, 0, 0.5);
	    	.card_header {
			    position: relative;
			    height: 42px;
			    line-height: 42px;
			    padding: 0 15px;
			    border-bottom: 1px solid #f6f6f6;
			    color: #333;
			    border-radius: 2px 2px 0 0;
			    font-size: 20px;
			}
			.card_body {
			    position: relative;
			    padding: 10px 15px;
			    line-height: 24px;
			    .body_list {
			        width: 100%;
			        height: 185px;
			        background-color: #fff;
			        .layui-row:after, .layui-row:before {
					    content: '';
					    display: block;
					    clear: both;
					}
			        ul{
					    display: block;
					    list-style-type: none;
					    -webkit-margin-before: 1em;
					    -webkit-margin-after: 1em;
					    -webkit-margin-start: 0px;
					    -webkit-margin-end: 0px;
					
					    .layui-col-xs3 {
						    width: 25%;
						    float: left;
						    padding: 5px;
						    .small_icon {
						    	display: inline-block;
							    width: 100%;
							    height: 60px;
							    line-height: 60px;
							    text-align: center;
							    border-radius: 2px;
							    font-size: 30px;
							    background-color: #F8F8F8;
							    color: #333;
							    transition: all .3s;
							    -webkit-transition: all .3s;
						    }
						    cite {
							    position: relative;
							    top: 2px;
							    display: block;
							    color: #666;
							    text-overflow: ellipsis;
							    overflow: hidden;
							    white-space: nowrap;
							    font-size: 14px;
							    text-align: center;
							    font-style: normal;
							}
						}
					}
					
			    }
			}
	    }
	    .center_bottom {
	    	width: 100%;
	    	//background: red;
	    	float: left;
	    	height: 500px;
	    	.layui-card {
			    margin-bottom: 15px;
			    border-radius: 2px;
			    background-color: #fff;
			    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
			    .layui-card-header {
				    position: relative;
				    height: 42px;
				    line-height: 42px;
				    padding: 0 15px;
				    border-bottom: 1px solid #f6f6f6;
				    color: #333;
				    border-radius: 2px 2px 0 0;
				    font-size: 14px;
				}
				.layui-card-body {
				    position: relative;
				    padding: 10px 15px;
				    line-height: 24px;
				    .layui-carousel {
				    	height: 300px;
				    	width: 300px;
				    	background: yellow;
				    }
				}
			}
	    }
	}
	.left_side:after {
		content: '';
		display: block;
		clear: both;
	}
	.right_side {
		//background: blue;
		width: 33.33333333%;
		float: left;
		padding: 7.5px;
		.layui-card {
		    margin-bottom: 15px;
		    border-radius: 2px;
		    background-color: #fff;
		    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
		    .layui-card-header {
			    position: relative;
			    height: 42px;
			    line-height: 42px;
			    padding: 0 15px;
			    border-bottom: 1px solid #f6f6f6;
			    color: #333;
			    border-radius: 2px 2px 0 0;
			    font-size: 14px;
			}
			.layui-card-body {
			    position: relative;
			    padding: 10px 15px;
			    line-height: 24px;
			    font-size: 14px;
			    .layui-table {
				    width: 100%;
				    background-color: #fff;
				    color: #666;
				    tbody {
					    display: table-row-group;
					    vertical-align: middle;
					    border-color: inherit;
					    tr {
						    display: table-row;
						    vertical-align: inherit;
						    border-color: inherit;
						    td {
							    position: relative;
							    padding: 9px 15px;
							    min-height: 20px;
							    line-height: 20px;
							    font-size: 14px;
							    border-width: 1px;
							    border-style: solid;
							    border-color: #e6e6e6;
							    display: table-cell;
						    }
						}
					}
				}
			}
		}
	}
}







