html {
    display: block;
}

html {
  background-color: #f2f2f2;
  color: #666;
}

blockquote, body, div, img, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  border: 0; 
}

.main_container {
  background: #e9e9e9;
}

.main {
  height: 100vh;
}

header {
  position: relative;
  height: 50px;
  width: 100%;
  font-size: 18px;
  padding: 0 20px;
  background-color: #108ee9;
  color: #fff;
  align-items: center;
  a {
    color: inherit;
  }
}

.menu {
  height: 100%;

  float: left;
  background-color: #404040;
}

.content {
  height: 100%;
  overflow: auto;
  align-self: stretch;
}

.user_information {
  padding: 13px 15px 12px 15px;
  background: url(images/user-img-background.jpg) ;
  
  white-space: nowrap;
  position: relative;
  .display_photo {
    border-radius: 50%;
    vertical-align: bottom !important;
  }
  .info_container{
    cursor: default;
    display: block;
    position: relative;
    top: 25px;
    .name {
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        max-width: 200px;
        color: #fff; 
    }
    .email {
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 12px;
        max-width: 200px;
        color: #fff; 
    }
  }
}

footer {
  background: #7a45e5;
  color: rgba( 255, 255, 255, 1 );
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapseButtonContainer {
  width: 60px;
  height: 100%;
  //background: green;
  display: flex;
  align-items: center;
  float: left;
  .collapseButton {
    background: #108ee9;
    border: #108ee9;
    color: white;
  }
  .collapseButton:hover {
    background: #108ee9;
    border: red;
  }

}

.companyName {
  //background: red;
  display: flex;
  height: 100%;
  width: 300px;
  align-items: center;
}

    