blockquote, body, div, img, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

.login {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 180px;
  background: #7a45e5;
  margin-left: -150px;
  margin-top: -90px;
  .username-input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    margin-top: 0;
    padding-left: 20px;
  }

  .login-logo {
    height: 50px;
    background: #108ee9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .username-input-container {
    margin-top: 0;
    height: 30px;
    margin-bottom: 20px;
  }

  .password-input-container {
    height: 30px;
    margin-bottom: 20px;
  }

  .password-input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding-left: 20px;
  }

  .login-form-button {
    height: 30px;
  }
}

