blockquote, body, div, img, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

.fl {
  float: left;
}
.user-add {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 380px;
  background: #7a45e5;
  margin-left: -150px;
  margin-top: -190px;

  .add-user-form {
    width: 300px;
  }

  .login-logo {
    height: 50px;
    background: #108ee9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .phone-input-container {
    margin-top: 0;
    height: 30px;
    margin-bottom: 20px;
  }

  .phone-input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding-left: 20px;
  }

  .username-input-container {
    margin-top: 0;
    height: 30px;
    margin-bottom: 20px;
  }

  .username-input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    margin-top: 0;
    padding-left: 20px;
  }

  .password-input-container {
    height: 30px;
    margin-bottom: 20px;
  }

  .password-input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding-left: 20px;
  }

  .sex-input-container, .weChat-input-container, .qq-input-container{
    margin-top: 0;
    height: 30px;
    margin-bottom: 20px;

  }

  .weChat-input, .sex-input, .qq-input{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    margin-top: 0;
    padding-left: 20px;
  }

  .man-select, .woman-select{
    width: 50%;
    height: 100%;
    text-align: center;
  }

  .login-form-button {
    height: 30px;
  }

  .return-message {
    box-sizing: border-box;
    background: #bae7ff;
    width: 200px;
    height: 330px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .return-successMsg {
    box-sizing: border-box;
    background: #bae7ff;
    width: 200px;
    height: 330px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: deeppink;
  }
}
